:root {
    --fuenteHeading: "PT Sans", sans-serif;
    --fuenteParrafos: "Open Sans", sans-serif;

    /* COLORES */
    --colorPrimario: #784D3C;
    --colorNegro: #000000;
    --colorBlanco: #FFFFFF;
    --colorGrisClaro: #E1E1E1;
    ;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* GLOBALES */
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3rem;
}

@media(width>=768px) {
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.7rem;
}

@media(width>=768px) {
    h3 {
        font-size: 3.2rem;
    }
}

h4 {
    font-size: 2.3rem;
}

@media(width>=768px) {
    h4 {
        font-size: 2.6rem;
    }
}

img {
    width: 100%;
    object-fit: cover;
}

/*  UTILIDADES */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/* HEADER */
.header {
    background-image: url(../img/banner.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}



.barra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(width>=768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.logo__nombre {
    color: var(--colorBlanco);
    font-weight: lighter;
}

.logo__nombre--bold {
    font-weight: bold;
}


.navegacion {
    display: flex;
    flex-direction: column;
}

@media(width>=768px) {
    .navegacion {
        flex-direction: row;
        gap: 2rem;
    }
}

.navegacion__enlace {
    color: var(--colorBlanco);
    transition: .3s color ease-in-out;
    text-align: center;
}

.navegacion__enlace:hover {
    color: #a4a4a4;
}



.header__texto {
    color: var(--colorBlanco);
    margin-top: 10rem;
}

@media(width>=768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 2rem;
    }
}

.blog__titulo,
.sidebar__titulo {
    text-align: center;
}

@media (width>=768px) {

    .blog__titulo,
    .sidebar__titulo {
        text-align: start;
    }
}

/* ENTRADA */
.entrada {
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--colorGrisClaro);
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}


/* BOTON */
.boton {
    color: var(--colorBlanco);
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
}

@media(width>=768px) {
    .boton {
        width: auto;
    }
}

.boton--primario {
    background-color: var(--colorNegro);
}

.boton--secundario {
    background-color: var(--colorPrimario);
}

li {
    list-style: none;
}

.cursos {}

.widget-curso {
    border-bottom: 1px solid var(--colorGrisClaro);
    margin-bottom: 2rem;
    line-height: 1.7;
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: none;
}

.widget-curso__informacion {
    font-family: var(--fuenteHeading);
    font-weight: regular;
    color: #000000;
}

.widget-curso__informacion--bold {
    font-weight: bold;
}

/* FOOTER */
.footer-bg {
    margin-top: 5rem;
    background-color: var(--colorNegro);
}

.footer {
    padding: 2rem 0rem;
}

/* SOBRE NOSOTORS */
.sobre-nosotros {
    display: flex;
    gap: 2rem;
}

.sobre-nosotros__imagen {
    flex-grow: 1;
    flex-basis: 50%;
}

.sobre-nosotros__texto {
    flex-grow: 1;
    flex-basis: 50%;
}

.sobre-nosotros__texto p:first-of-type {
    margin: 0;
}